<div class="tabs is-centered">
  <ul>
    <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink=".">Rooms</a>
    </li>

    <li routerLinkActive="is-active" *ngFor="let room of rooms$ | async | slice : 0:3">
      <a [routerLink]="['room', room.id]">{{room.title}}</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
