<h3 class="subtitle">Template driven form</h3>

<!-- TODO 1.4 - pojmenujte instanci formuláře -->
<!-- TODO 1.6 - odešlete formulář -->
<form novalidate
      #userForm="ngForm"
      (ngSubmit)="formSubmit(userForm)">

  <label class="label" for="userName">Name</label>
  <div class="control">

    <!--TODO 1.1 - doplňte ngModel - user.name a pojmenujte pole-->
    <!--TODO 1.3 - pojmenujte instanci ngModel-->

    <input class="input" id="userName" type="text"
           required
           [(ngModel)]="user.name" name="name"
           #userNameControl="ngModel"
    />

    <!--TODO 1.5 - podmiňte validační hlášku-->
    <!--TODO 1.5.1 - upravte podmínky pro zobrazení hlášky-->
    <span class="help is-danger"
          *ngIf="userNameControl.errors?.required
             && (userNameControl.touched || userForm.submitted)" >
  Name is required
</span>

  </div>

  <!--TODO 1.3.1 - použijte ladící pomůcku-->
  <app-form-metadata-viewer [control]="userNameControl"></app-form-metadata-viewer>

  <label class="label" for="userSurname">Surname</label>
  <div class="control">

    <!--TODO 1.2 - doplňte ngModel - user.surname-->
    <!--TODO 1.5.2 - pojmenujte instanci ngModel-->
    <input class="input" id="userSurname" type="text" name="surname"
           required
           [(ngModel)]="user.surname"
           #userSurnameControl="ngModel"
    />
    <!--TODO 1.5.2 - použijte komponentu pro validace-->
    <app-form-model-errors [control]="userSurnameControl"></app-form-model-errors>

  </div>

  <!--TODO 1.4.2 - vytvořte formulářovou skupinu-->
  <div ngModelGroup="contact">

    <label class="label" for="phone">Phone</label>
    <div class="control">
      <!--TODO 1.2 - doplňte ngModel- user.contact.phone-->
      <!--TODO 1.5.3 - pojmenujte instanci ngModel-->
      <!--TODO 1.5.4 - přidejte validaci na minimální počet znaků -->
      <input class="input" id="phone" type="text" name="phone"
             [(ngModel)]="user.contact.phone"
             required minlength="9"
             #phoneControl="ngModel"
      />

      <!--TODO 1.5.3 - použijte komponentu pro validace-->
      <app-form-model-errors [control]="phoneControl"></app-form-model-errors>


    </div>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>

  <!--TODO 1.4.1 - odkomentujte ladící pomůcku-->
  <app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>
</form>


