<form
  [formGroup]="userForm"
  (ngSubmit)="handleSubmit(userForm)">
  <div class="control is-horizontal">
    <div class="control-label">
      <label class="label">Name</label>
    </div>
    <div class="control is-grouped">
      <p class="control is-expanded">
        <input class="input" type="text" placeholder="Name"
               tabindex="1"
               formControlName="user">
      </p>
      <p class="control is-expanded">
        <button class="button is-primary" type="submit"
                tabindex="0">Send
        </button>
      </p>
    </div>
  </div>

  <div class="control is-horizontal">
    <div class="control-label">
      <label class="label">Message</label>
    </div>
    <p class="control">
      <textarea class="textarea" placeholder="Normal textarea"
                tabindex="2"
                formControlName="text"></textarea>
    </p>
  </div>

</form>
